.Rproj.user
.Rhistory
.RData
*xgboost.model
.#*
*~
\#*#
*.swp
.project
.ipynb_checkpoints
registry
vignettes/*.html
/inst/doc/*
!/inst/doc/*.html
/doc/
/docs/
/data/
/man/
*.rds
registry/
data/
archive/
*xgboost.model
results*
result_data*
